<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="fuente">
    <main>
        <header>
                <img class="logo" src="/images/logo-mercado-liebre.svg">  
                <p>Buscar productos, marcas y mas.</p>
                <input type="text" />
                <p>Compra en cuotas y sin tarjeta de creditos</p>
        <section class="navegacion">
                <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
                </ul>
                <ul>
                <li><a href="/crea-tu-cuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="mis-compras">Mis compras</a></li>
                </ul>
        </section>
                <div>
                    <i class="fas fa-bars"></i>
                </div>
        </header>
        <main>
        <form>
            <div>
                <label for="nombre">Nombre y Apellido</label>
            </div>
            <br>
            <div>
                <input type="text" id="nombre" name="nombre">
            </div>
            <br>
            <div>
                <label for="usuario">Usuario</label>
            </div>
            <br>
            <div>
                <input type="text" id="usuario" name="usuario">
            </div>
            <br>
            <div>
                <label for="email">Email</label>
            </div>
            <br>
            <div>
                <input type="email" id="email" name="email">
            </div>
            <br>
            <div>
                <label for="date">Fecha de nacimiento</label>
            </div>
            <br>
            <div>
                <input type="date" id="date" name="date">
            </div>
            <br>
            <div>
                <label for="domicilio">Domicilio</label>
            </div>
            <br>
            <div>
                <input type="text" id="domicilio" name="domicilio">
            </div>
            <br>
            <div>
                <label for="perfil">Perfil de usuario</label>
            </div>
            <br>
            <div>
                <input type="radio" name="perfil" value="comprador">Comprador
                <input type="radio" name="perfil" value="Vendedor">Vendedor
            </div>
            <br>
            <div>
                <label for="">Interes</label>
            </div>
            <br>
            <div>
                <input type="checkbox" name="Interes" value="electro">Electro  
                <input type="checkbox" name="Interes" value="moda"> Moda 
                <input type="checkbox" name="Interes" value="hogar"> hogar  
                <input type="checkbox" name="Interes" value="jugueteria">Jugueteria
                <input type="checkbox" name="Interes" value="vida sana"> Vida sana 
            </div>
            <br>
            <div>
                <label for="">Elegí tu foto de usuario</label>
            </div>
            <br>
            <div>
                <input type="file" name="foto" value="" accept="image/jpg,image/png">
            </div>
            <br>
            <div>
                <input type="password" placeholder="Ingresá tu contraseña">
            </div>
            <br>
            <div>
                <input type="password" placeholder="Confirma tu contraseña">
            </div>
            <br>
            <div>
                <button class="boton1" type="submit">Enviar</button>   
                <button class="boton2" type="reset">Borrar</button>
            </div>   

        </form>
        </main>  
    <footer class="footer">
        <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex Dolce Gusto</p>
        </article>
        <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>Macbook pro 2019</p>
        </article> 
        <article>       
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>15% OFF</p>
                <p>SmartTV Samsung 43"</p>
        </article>
        <br>
        <div class="pie">
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro!</p>
        
            <strong>Envío gratis desde los $ 2.500</strong>
    
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>
    
            <strong>Seguridad, de principio a fin</strong>
    
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre protegid@.</p>   
            <p>© 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    </main> 
</body>
</html>