<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div>
    <img src="/images/logo-mercado-liebre.svg">  
    <p>Buscar productos, marcas y mas.</p>
    <input type="text" />
    <p>Compra en cuotas y sin tarjeta de creditos</p>
    </div>
    <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/Ayuda">Ayuda</a></li>
    </ul>
    <ul>
            <li><a href="/crea-tu-cuenta">Creá tu cuenta</a></li>
            <li><a href="/ingresa">Ingresá</a></li>
            <li><a href="mis-compras">Mis compras</a></li>
    </ul>   
    
    <img src="/images/img-home-banner.jpg" alt="">
    
    <div>
    <p>Basado en tu última vista</p>
    <img src="/images/img-cafetera-moulinex.jpg" alt="">
    <p>$6.770</p>
    <p>40% OFF</p>
    <p>Cafetera Moulinex Dolce Gusto</p>
    <img src="/images/img-macbook-pro-2019.jpg" alt="">
    <p>$230.000</p>
    <p>20% OFF</p>
    <p>Macbook pro 2019</p>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <p>$70.500</p>
    <p>15% OFF</p>
    <p>Teléfono móvil Samsung Galaxy S10</p>
    <img src="/images/img-tv-samsung-smart.jpg" alt="">
    <p>$34.000</p>
    <p>5% OFF</p>
    <p>SmartTV Samsung 43"</p>
    </div>
    
    <div>
    <p>Ofertas</p>
    <img src="/images/img-cafetera-moulinex.jpg" alt="">
    <p>$6.770</p>
    <p>40% OFF</p>
    <p>Cafetera Moulinex Dolce Gusto</p>
    <img src="/images/img-macbook-pro-2019.jpg" alt="">
    <p>$230.000</p>
    <p>20% OFF</p>
    <p>Macbook pro 2019</p>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <p>$70.500</p>
    <p>15% OFF</p>
    <p>Teléfono móvil Samsung Galaxy S10</p>
    <img src="/images/img-tv-samsung-smart.jpg" alt="">
    <p>$34.000</p>
    <p>5% OFF</p>
    <p>SmartTV Samsung 43"</p>
    </div>


    <footer>
    <strong>Pagá con tarjeta o en efectivo</strong>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro!</p>
    
    <strong>Envío gratis desde los $ 2.500</strong>
    
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>
    
    <strong>Seguridad, de principio a fin</strong>
    
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre protegid@.</p>
    
    <p>© 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
        
</body>
</html>