<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fuente">
    <div class="color-fondo">
            <img src="/images/logo-mercado-liebre.svg">  
            <p>Buscar productos, marcas y mas.</p>
            <input type="text" />
            <p>Compra en cuotas y sin tarjeta de creditos</p>
    
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/Ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/crea-tu-cuenta">Creá tu cuenta</a></li>
            <li><a href="/ingresa">Ingresá</a></li>
            <li><a href="mis-compras">Mis compras</a></li>
        </ul>
    </div>     
    <div>
            <input type="text" placeholder="Ingresá tu usuario">
    </div>
    <br>
    <div>
            <input type="password" placeholder="Ingresá tu contraseña">
    </div>
    <br>
    <div>
            <button type="submit">Enviar</button>   
            <button type="reset">Borrar</button>
    </div>
    <br>  
</body>
<br>
<footer class="footer">
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro!</p>
    
            <strong>Envío gratis desde los $ 2.500</strong>
    
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>
    
            <strong>Seguridad, de principio a fin</strong>
    
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre protegid@.</p>
    
            <p>© 1999-2019 MercadoLiebre S.R.L.</p>
</footer>
</html>