*{
    box-sizing: border-box;
    margin: 0px;

}
.font{
    font-family: Roboto, sans-serif;
}
main{
    background-color: rgb(231, 226, 226);
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
}
.logo{
    width: 50%;
}
.busqueda{
    width: 100%;
    height: 70px;
    font-size: 25px;
}
.fa-search{
    font-size: 50px;
}
.title1{
    font-size: 20px;
    width: 100%;
    margin: 0px;
}
.navegacion{
    display: none;
    }
ul{
    list-style: none;
}
.blue-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px;
}
.fa-bars{
    color: white;
    font-size: 30px;
    background-color: #0044AA;
    text-align: center;
    height: 50px;
    width: 50px;
    padding-top: 10px;

}
.fa-bars:hover{
    background-color:#0022AA ;
    cursor: pointer;

}
label{
    margin-left: 50px;
    font-size: 12px;
}
.input-container{
    display: flex;
    justify-content: center;
}

.input-text{
    width:90%;
    height: 70px;
    border-radius:5px;
    border: solid 1px lightgrey;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    
}
.boton1{
    color: white;
    background-color: #0044AA;
    width: 90%;
    height: 70px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.boton1:hover{
    background-color: #0022AA;
    cursor: pointer;
}
.boton2{
    color: white;
    background-color: #AA0044;
    width: 90%;
    height:70px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom:60px;
    
}
.boton2:hover{
    background-color: #CC1155;
    cursor: pointer;
}
.banner{
    display: block;
    width: 100%;
}
h3{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.offers{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.offers img{

}

.price{
    display: flex;
    border-top: #ebebeb 2px solid;
}
.real-price{
    width: 30%;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
.off{
    align-self: center ;
    width: 70%;
    font-size: 40px;
    color: green;
    opacity: 0.5;
    margin-top: 20px;
}
.fa-truck{
    position: relative;
    bottom:30px;
    right: 40px;
    color: green;
    font-size: 50px;
}
.description{
    margin: 20px;
    margin-left: 10px;
    font-size: 50px;
}
.footer{
    background-color: white;
    margin-top: -6px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;    
}
.fa-credit-card{
    color: blue;
    width: 20px;
}
.fa-gift{
    color: blue;
    width: 20px;
}
.fa-lock{
    color: blue;
    width: 20px;
}
.pie{
    background-color: white;
    margin-top: 5px;
    font-size: 12px;
}
hr{
    border: none;
    background-color: white;
    height: 50px;
}
/*Perfil de usuario e intereses*/
.container-profile{
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    margin: 50px;
}
.profile{
    width: 25%;
}
.container-interest{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 50px;
}
.interest{
}



@media(max-width:320px){
    }


